<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key = "username">julmakan@gmail.com</entry>
    <entry key = "password">1122ZaqwoplM1122</entry>
    <entry key = "baseURL">https://taplink.ru/</entry>
</properties>
